{{ define "main" }}

<section class="section">
    <h1 class="title">{{.Title}}</h1>

    <div class="columns is-multiline">

        {{ range .Pages }}
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <a href="{{.RelPermalink}}">
                        <figure class="image">
                            <img src="{{.Params.teaserImage}}" alt="{{.Title}}">
                        </figure>
                    </a>
                </div>
                <div class="card-footer">


                    <a href="{{.RelPermalink}}">
                        <p class="card-footer-item subtitle">{{.Params.teaserText}}</p>
                    </a>


                </div>
            </div>
        </div>

        {{ end }}
    </div>
</section>
{{ end }}